body{
    background-color: rgb(243, 243, 224);
}

    
   
    
    

/* estilos por clase*/
#unico{
    text-align: center;
    font-size: 40px;
    color: rgb(9, 182, 182);
    font-family: cursive;
}
#n1{
    color: aqua;
}
